<div class="flex max-w-prose flex-col gap-8">
  <div class="flex flex-col items-center gap-4">
    <h1 class="text-4xl font-semibold">Hi, I'm Kwat 🥼</h1>

    <img
      class="object-scale-down"
      src="profile.jpg"
      alt="Kwat’s profile picture."
    />

    <p class="text-xl">
      I'm a bioinformatician and a seventh-year MD-PhD candidate in the <%
      text("Mark Davis Laboratory", "https://med.stanford.edu/davislab.html") %>
      at <% text("Stanford School of Medicine",
      "https://med.stanford.edu/mstp.html") %> 🧬
    </p>
  </div>

  <div class="flex flex-col gap-4">
    <h2 class="text-2xl font-semibold">Craft 🥋</h2>

    <ul>
      <li>
        <% text("Gene Set Enrichment Analysis",
        "https://www.gsea-msigdb.org/gsea/index.jsp") %>
      </li>

      <li>
        <% text("OncoGPS",
        "https://www.cell.com/cell-systems/comments/S2405-4712(17)30335-6") %>
      </li>

      <li>
        <% text("Helixa",
        "https://www.genomeweb.com/sequencing/startup-guardiome-emphasizes-privacy-new-wgs-consumer-offering")
        %>
      </li>

      <li><% text("Guardiome", "https://Guardiome.com") %></li>

      <li>
        <% text("Tiny Beasts",
        "https://www.amazon.com/s?i=stripbooks&rh=p_27%3AKwat+Medetgul-Ernar&s=relevancerank&text=Kwat+Medetgul-Ernar&ref=dp_byline_sr_book_2")
        %>
      </li>

      <li>
        <% text("Immunogram: a Generalized Framework to Measure a Person’s
        Immune System",
        "https://academic.oup.com/jimmunol/article-abstract/210/Supplement_1/249.21/7947927?redirectedFrom=fulltext")
        %>
      </li>

      <li><% text("Caucell", "https://Caucell.com") %></li>

      <li><% text("Omics One", "https://OmicsOne.com") %></li>

      <li><% text("GitHub", "https://github.com/KwatMDPhD") %></li>

      <li>
        <% text("Google Scholar",
        "https://scholar.google.com/citations?user=PAM4lScAAAAJ&hl") %>
      </li>

      <li><% text('X', "https://x.com/KwatMDPhD") %></li>
    </ul>
  </div>
</div>
