<div class="max-w-prose">
  <h1 class="pb-4 text-4xl font-bold">Hi, I'm Kwat 🤠</h1>

  <p>
    I'm a sixth-year MD-PhD candidate at <% link("the Stanford School of
    Medicine", "https://med.stanford.edu/mstp.html") %>.
  </p>

  <br />

  <% h2("My life's work is to build the everything blood test 🩸") %>

  <p>
    At <% link("the Stanford Mark Davis Lab",
    "https://med.stanford.edu/davislab.html") %>, I code analytics that use a
    causality model to analyze various molecules, such as antibodies, proteins,
    and RNAs, to generate clinical-grade results that are highly interpretable.
    I help my collaborators integrate this model into their projects. To ensure
    that as many researchers as possible have access to the data for the model,
    I'm building <% link("a blood data generation platform",
    "https://OmicsOne.com") %>. To allow the public to try out the blood test,
    I've launched <% link("a direct-to-consumer test",
    "https://MyTrillions.com") %>.
  </p>

  <br />

  <% h2("I've built software, hardware, businesses, and more:") %>

  <ul>
    <li>
      <% link("Gene Set Enrichment Analysis (the GSEA)",
      "https://www.gsea-msigdb.org/gsea/index.jsp") %>
    </li>

    <li>
      <% link("OncoGPS",
      "https://www.cell.com/cell-systems/comments/S2405-4712(17)30335-6") %>
    </li>

    <li>
      <% link("Helixa",
      "https://www.genomeweb.com/sequencing/startup-guardiome-emphasizes-privacy-new-wgs-consumer-offering")
      %>
    </li>

    <li><% link("Guardiome", "https://guardiome.com") %></li>

    <li>
      <% link("Tiny Beasts",
      "https://www.amazon.com/s?i=stripbooks&rh=p_27%3AKwat+Medetgul-Ernar&s=relevancerank&text=Kwat+Medetgul-Ernar&ref=dp_byline_sr_book_2")
      %>
    </li>

    <li><% link("Mount Jiu-Jitsu", "https://mountjiujitsu.com") %></li>
  </ul>

  <br />

  <% h2("Links:") %>

  <ul>
    <li><% link("GitHub", "https://github.com/KwatMDPhD") %></li>

    <li><% link("X (Twitter)", "https://x.com/KwatMDPhD") %></li>

    <li>
      <% link("Google Scholar",
      "https://scholar.google.com/citations?user=PAM4lScAAAAJ&hl") %>
    </li>
  </ul>
</div>
